body {
  /* background-color: #333; */
  font-family: sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}

.container {
  margin: 0;
  width: 100%;
  text-align: center;
}

nav {
  background-color: black;
  text-align: left;
  height: 50px;
  position: fixed;
  width: 30%;
  margin: auto 35%;
}

nav .arrow-left i {
  margin-top: 3%;
  padding-left: 2%;
}

.restaurant-list {
  margin: 0 auto;
  padding-top: 50px;
  width: 30%;
}

.restaurant-list .content {
  display: inline-block;
  font-size: 18px;
  padding: 2%;
}
.restaurant-list .content h1 {
  font-weight: bold;
  margin-bottom: 2%;
}
.restaurant-list .content h3 {
  font-size: small;
}

.restaurant-list .arrow {
  float: right;
  padding-top: 3%;
  padding-right: 2%;
}

.restaurant-list .location {
  text-align: left;
  width: 100%;
  margin:0 auto;
  display: inline-block;
}

div.location {
  background-color: lightgrey;
}

div.location:hover {
  background-color: #eee;
}
